@import "../../node_modules/css-reset-and-normalize-sass/scss/flavored-reset-and-normalize";

body {
    background-color: #f2f2f2;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}